*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, serif, cursive;
    text-transform: capitalize;
    transition: all .2s cubic-bezier(.34,1.12,.68,1.31);
}
.navbar{
    background-color: #eee;
}
.nav-item{
    font-family: serif;
    color: black;
    letter-spacing: 1%;
    font-size: 25px;
}
.nav-item a.active {
  background-color: cyan;
  color: white;
}
.gallery{
    min-height: 100vh;
    background: #eee;
    padding-bottom: 100px;
}
.gallery h1{
     font-family: cursive, serif;
    font-size: 40px;
    font-weight: 600;
}
.gallery .controls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    list-style: none;
}
.gallery .controls .buttons{
    height: 40px;
    width: 140px;
    background: #fff;
    color: #666;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    margin: 20px;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    text-align: center;
}
.gallery .controls .buttons.active{
    background: coral;
    color: #fff;
}
.gallery .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.gallery .image-container .image{
    height: 400px;
    width: 400px;
    overflow: hidden;
    border: 15px solid #fff;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    margin: 20px;
}
.gallery .image-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gallery .image-container .image:hover img{
    transform: scale(1.4);
}

.footer{
	margin-top: 0;
	background-color: #24262b;
	width: 100%;
	text-align: center;
	padding: 70px 0;
}
.footer-col .social-link a{
	display: inline-block;
	margin-right: 20px;
	height: 40px;
	width: 40px;
	font-size: 30px;
	background-color: rgba(255, 255, 255, 0.2);
	margin-right: 0 10px 10px 0;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.3s ease;
}
.footer-col .social-link a:hover{
	color: #24262b;
	background-color: #ffffff;
	padding-left: 10px;
}
.footer-col h3{
	margin-bottom: 25px;
	margin-top: 10px;
	font-weight: 500;
	font-size: 15px;
	color: #ffffff;
	text-transform: capitalize;
}
.icons .fa{
	color: #f44336;
	margin: 0 13px;
	cursor: pointer;
	padding: 18px 0;
}
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

.navbar-brand h1 {
  font-size: calc(10px + 5vh);
  line-height: calc(10px + 10vh);
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

.navbar-brand {
  padding: 1%;
  display: contents;
  justify-content: left;
  align-items: left;
  height: 10px;
 /* background: #222;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 7px,
    rgba(0, 0, 0, 0.8) 9px,
    rgba(0, 0, 0, 0.8) 13px,
    transparent 13px
  );*/
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 15ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: cursive, serif;
  font-size: 60px;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
@media (max-width: 400px)
{
    .typing-demo{
        font-size: 35px;
    }
}